
.page-list{  
    background-color: #2e2e39;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
button{
    font: inherit;
}
input{
    font: inherit;
}

a {
    text-decoration: none; 
}
