.container-chat{
    height: 92%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 20px 20px 10px 10px; 

}
.container-chat::-webkit-scrollbar {
    width: 12px;               
}
.container-chat::-webkit-scrollbar-thumb {
    background-color: #ffffff67;   
    border-radius: 20px;       
    border: none  
}

.message {
    display: inline-block;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 15px;
    background-color: #b7c2d4;
    box-shadow: 2px 5px 10px 3px #120d14;;
    color: #120d14;
    font-size: 20px;
    line-height: 24px;
    hyphens: auto;
    word-break: break-word;
    text-align: center;
}
.person{
    background-color: #c3b1bd;
} 

.time{
    color: #ffffff9f;
    font-size: 13px;
}

.name{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.container-message{
    margin-bottom: 10px;
    display: flex;
    max-width: 80%;
}


@keyframes ani {
    0% {transform: translateX(-150%);}
    100% {transform: translateX(0);}
}

.my-message {
    align-self: flex-end;
    text-align: right;
    margin-left: 60px;
}

.other-message {
    align-self: flex-start;
    text-align: left;
    animation: ani 1300ms forwards;
}

.message-content {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}



