.sidebar{
    height: auto;
    width: 100vw;
    padding: 10px;
    background-color: #120d14; 
    box-shadow: 0px 3px 10px  3px #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;

}

.active-btn{
    border-radius: 30%;
    width: 50px;
    height: 50px;
    justify-content: center;
    box-shadow: 0px 0px 10px 7px rgba(175, 37, 255, 0.4);
}
.active{
    color: #c61bff; 
}