
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: space-around;
}

  
.container-close{
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 10px;
}

.container-close p{
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.close-icon{
    color: #686a779b;
    position: absolute;
    right: 10px;
}
.error-txt{
    margin: 0;
    color: red;
}

  
.hidden{
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.form-container{
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
.form-text{
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    color: #120d14;
    border: 1px solid #686a77;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 6px;
    margin-bottom: 5px;
}

.button-create-chat{
    background-color: #686a77;
    border-radius: 40px;
    padding: 10px;
    height: 20%;
    font-size: 24px;
    color: #fff;
    font-weight: bold;

}
.button-create-chat:active, .button-create-chat:hover, .button-create-chat:focus{
    background-color: #c2c4d3;
    transition: all 0.6s;
}

.list-container {
    max-height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.list-container::-webkit-scrollbar {
    width: 4px;            
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #00000067;   
    border-radius: 20px;       
    border: none  
}
.close-button{
    display: flex;
    align-items: center;
}
.list-container input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

.list-container label {
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}

.list-users{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.nav-button{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 8px;
}
.nav-button button{
    border-radius: 30px;
    border: 2px solid #686a77;
    width: 100px;

}