@import './css/form.css';
@import './css/header.css';
@import './css/layout.css';
@import './css/message.css';
@import './css/chatList.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    background-color: #fff;
    
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-button:hover, .icon-button:focus, .icon-button:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



img{
    width: 60px;
}




input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    
}


 
.hidden {
    display: none;
}

.edit-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #686a77;
    box-shadow: 0px 3px 10px  3px #120d14;
    position: fixed; 
    bottom: 20px;     
    right: 20px; 
}




